/*http://meyerweb.com/eric/tools/css/reset/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/*end of reset*/
/*start custom css*/
body {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
div {
    /*border: 1px solid Chocolate;*/
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
/*Typical default display property #*/
:focus {
    outline: none;
}
/*Typical default display property #*/


/*navigation section*/
.top-navigation {
    background-color:#282828;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #282828;
    z-index: 9999;
}
.top-navigation > .content {
    height: 4.375rem;
}



.top-navigation .links {
    float:right;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
/*.top-navigation .links li.active {*/
    /*font-weight: 500;*/
}
.top-navigation .links li:hover {
    cursor: pointer;

}

a.nav-links{
    text-decoration: none;
 font-family: 'Playfair Display', serif;
    color:#DADADA;
    font-weight:900;
    font-style: italic;
    font-size:1em;

}

/*a.nav-links:link {*/
    /*color:white;*/
    /*font-weight:500;*/
}
a.nav-links:visited {
    color:blue;
}
a.nav-links:hover {
    font-size:150%;
}





/*Introduction section*/
.introduction {
    background-image: url('https://ununsplash.imgix.net/uploads/14127101912749510b8ed/82743738?q=75&fm=jpg&s=2150993787c74416103059d6ebac09f5');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1,.introduction h2 {
    color: #282828;
    text-align: center;
    font-weight: 400;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h2 {
    margin-top: 1.25rem;
    font-size: 1.650rem;
}
/*the buttom*/
.introduction .buttons {
    color: #F1F1F1;
    text-align: center;
    margin-top: 1.563rem;
}
/* I don't understand why the use of this part:.introduction .half {
    width: 50%;
    padding: 0 0.938rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.125rem;
    line-height: 1.2;
}*/

/*Quotes stylying*/

.quotes{
  background: #DADADA;
  padding: 6em 0;
  text-align: center; }
  
  .quotes h3 {
    border-bottom: 6px solid #282828;
    color: #282828;
    display: inline-block;
    font-size:2em;
    font-family: 'Gravitas One', cursive;
    letter-spacing: 0.1rem;
    text-transform: none; }

/*Quotes stylying*/
/*4 grid work*/
.portfolio {
    background-color: #F1F1F1;
    overflow: hidden;
    
}




img{
    max-width:100%;
    height:auto;
}
.clear {
    clear:both;
}

.col4{
    width:15em;
    float:left;
    margin:1em 2em;
}
.image {
text-align:center;
}

.porfolio .container {
    padding-top: 2em; 
    padding-bottom: 3em;
    color: #DADADA;
    text-align: center;
     font-family:'Playfair Display', serif;
     font-style: italic;
 }

.portfolio h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 500;
    text-align: center;
      font-family: 'Playfair Display', serif;
     font-style: italic;
    }

    .portfolio h3 {
            font-size: 1.08rem;
          text-align: center;
           font-weight: 400;
      font-family: 'Playfair Display', serif;
     font-style: italic;
    }
    .portfolio p{
          font-family: sans-serif;
    }
/*4 grid work*/







/*projects*/

/*.cases {
    background-color: #282828;
    overflow: hidden;
    padding-bottom: 5rem;
    margin: 0.5rem;
    border-color: solid;
    border-radius:5px;
}
.cases .content {
    margin-top: 3.875rem;
    padding: none;
    color: #DADADA;
    text-align: center;
     font-family: 'Playfair Display', serif;
     font-style: italic;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 500;
}
.cases .devices > li {
    width: 33.3333333%;
    float:left;
    border-color:blue;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}*\

/*projects*/


/**
 * Footer
 */
.social {
    background-color: #282828;
    overflow: auto;
    padding-bottom: 6.375rem;
        padding-top: 2rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #DADADA;
    margin: 1.313rem 0;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    color: #838994;
}
.social h5{
    color:#838994;
    font-style: italic;
    font-weight:bold;
}
/**
 * Responsive Design
 */
@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}
@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}
@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}
/* Standard syntax */ 
@keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}


/**
 * button
 */
button {
    width: 9.688rem;
    background-color: #282828;
    border-color: #282828;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: #F1F1F1;
    font-size: 1.125rem;
}
button:hover {
    background-color: #8D8D8D;
    border-color: #cf3d0e;
    cursor: pointer;
}

.ed-win{
     font-family: 'Playfair Display', serif;
    color:black;
    font-weight:900;
    font-style: italic;
    font-size:3em;
    text-align: center;
    background-color: white;

}

