@import "settings";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar";
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$dark:#282828; //this is the darker color// 

aside, portfolio {
	@include grid-row ();
}


aside {
	@include grid-column ($columns:12,$center:true);
	}

.introduction {
    background-image: url('https://ununsplash.imgix.net/uploads/14127101912749510b8ed/82743738?q=75&fm=jpg&s=2150993787c74416103059d6ebac09f5');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    padding-top:20%;
}

.content{
text-align:center;
border:1px red solid;
   padding: 0 20px;
    margin: 0 auto;
    }

 aside{
  border:1px red solid;
  }

 .quotes{
   background: #DADADA;
  height: 400px;
  padding: 10% 0;
 }

 .portfolio {
  background-color: #F1F1F1;
    overflow: hidden;
    padding:10% 0;
     }

