@import "settings";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar";
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$dark:#282828; //this is the darker color// 

aside {
	@include grid-row ();
  aside {
    @include grid-column ($columns:12,$center:true);
  }
}

 .work {
 @include grid-row();
 .first-case {
  @include grid-column(4);
 }
  .second-case {
  @include grid-column(4);
 }
   .third-case {
  @include grid-column(4);
 }
 }

.content{
text-align:center;
    }

.introduction {
    background-image: url(../images/Main.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
    padding-top:12%;
        padding-bottom:12%;

    }

.introduction h1, h2 {
  color: #282828;
  font-weight: 500;
} 



 .quotes {
   background: #DADADA;
  padding-top: 8%;
    padding-Bottom: 8%;
 }

 .quotes h3 {
border-bottom: 6px solid #282828;
    color: #282828;
    font-size:32px;
    font-family: 'Gravitas One', cursive;
    letter-spacing: 0.1rem;
    text-transform: none;
 }

 .portfolio {
  background-color: #F1F1F1;
padding-top:2%;
padding-bottom:5%;
     }

.portfolio h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
      font-family: 'Playfair Display', serif;
     font-style: italic;
    }

  

